.menu-links {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid rgb(58, 58, 58);
  list-style: none;
  text-align: center;
  font-weight: 600;
  background-color: rgb(21, 20, 20);
  color: white;
}

.menu-links:focus {
  outline: none;
}